# always
node_modules

# Computer/IDE 
.vscode
.DS_Store

# Private
package-lock.json
configure.json

# My notes
secret-notes.txt
TODO.txt

# My testing
data/csv_example
migrations/users_migration.js
models/PersonalInformation.js
models/User.js
app/events/TestEvent.js
app/controllers/DemoController.js

Ignore
