# This next line is like lyposuction for Git
node_modules

# Computer/IDE/Nuisance
.vscode
.DS_Store

# Private, of course.
package-lock.json
configure.json

# My Secrets :) ...
HighLevelToDo.txt
secret-notes.txt
TODO.txt

# I promise I will delete this.
data/csv_example
migrations/users_migration.js
models/PersonalInformation.js
models/User.js
app/events/TestEvent.js
app/controllers/DemoController.js