doctype html
html
    head
    title BrainPI
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
    link(href="https://use.fontawesome.com/releases/v5.6.3/css/all.css", rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src='/js/app.js')